<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<!-- Select Frequency and Channel Output -->
<div class="row">
  <div class="col-xs-6 text-left">
    <span style="padding-left: 10px"><strong>Frequency</strong></span>
  </div>
  <div class="col-xs-6">
    <span class="dropdown" uib-dropdown id="frequency-dropdown">
      <button type="button" class="btn btn-block btn-default dropdown-toggle" uib-dropdown-toggle>
        {{data.currentFrequency}} Hz <span class="caret caret-position" style="margin-left: 10px"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <!-- use "Left" since it will always be defined -->
        <li ng-repeat="item in chaExams.storage.manualAudiometry.list.Left track by $index">
          <a href="#" ng-click="chooseFrequency($index)">{{item.F}}</a>
        </li>
      </ul>
    </span>
  </div>
</div>

<hr>

<div class="row">

  <!-- Level Pane -->
  <div ng-class="{'col-xs-6': masking, 'col-xs-12': !masking}">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default" heading="{{'Presentation Level'|translate}}"  is-open="panes.level">
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12">
              <span class="manual-audiometry-level-text">{{data.currentLevel}}</span>
              <span class="manual-audiometry-level-units">{{data.levelUnits}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <span class="dropdown" uib-dropdown id="output-dropdown">
                <button type="button" class="btn btn-block btn-default dropdown-toggle" uib-dropdown-toggle>
                  {{data.channel}} <span class="caret caret-position" style="margin-left: 10px"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li><a href="#" ng-click="selectOutput('Left')">Left</a></li>
                  <li><a href="#" ng-click="selectOutput('Right')">Right</a></li>
                  <li ng-if="boneConduction"><a href="#" ng-click="selectOutput('Bone (Left)')">Bone (Left)</a></li>
                  <li ng-if="boneConduction"><a href="#" ng-click="selectOutput('Bone (Right)')">Bone (Right)</a></li>
                </ul>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-block btn-default" ng-disabled="data.currentLevel >= data.maxLevel" ng-click="increase(increaseValue)">
                + {{increaseValue}} dB &nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-block btn-default" ng-disabled="data.currentLevel <= data.minLevel" ng-click="decrease(decreaseValue)">
                - {{decreaseValue}} dB &nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
              </button>
            </div>
          </div>

          <!-- Play Tone -->
          <div class="row">
            <div class="col-xs-12">
              <button ng-class="playTonesButtonClass()" style="height:80px;" ng-click="toggleToneButton()">
                <span ng-if="!btnState">Play Tone</span>
                <span ng-if="btnState === 1">Stop Tone</span>
              </button>
            </div>
          </div>

          <!-- Threshold Select -->
          <div class="row">

            <!-- Threshold -->
            <div class="col-xs-12" ng-if="data.responseType === 'threshold'">
              <button class="btn btn-block btn-success" ng-click="setThreshold()">
                Record Threshold
              </button>
            </div>

            <!-- Pass / Fail -->
            <div class="col-xs-12 col-sm-6 pad-top" ng-if="data.responseType === 'pass-fail'">
              <button class="btn btn-block btn-success" ng-click="setPass()">
                Pass
              </button>
            </div>
            <div class="col-xs-12 col-sm-6 pad-top" ng-if="data.responseType === 'pass-fail'">
              <button class="btn btn-block btn-danger" ng-click="setFail()">
                Fail
              </button>
            </div>
          </div>

        </div>
      </div>
    </uib-accordion>
  </div>

  <!-- Masking Noise -->
  <div class="col-xs-6" ng-if="masking">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default" heading="{{'Narrow Band Masking Level'|translate}}"  is-open="panes.masking">
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12">
              <span class="manual-audiometry-level-text">{{data.currentMaskingLevel}}</span>
              <span class="manual-audiometry-level-units">dB EM</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <span class="manual-audiometry-level-units">{{data.maskingChannel}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-block btn-default" ng-disabled="data.currentMaskingLevel >= data.maxMaskingLevel" ng-click="increaseMasking(5)">
                + 5 dB &nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-block btn-default" ng-disabled="data.currentMaskingLevel <= data.minMaskingLevel" ng-click="decreaseMasking(5)">
                - 5 dB &nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button ng-class="playMaskingButtonClass()" style="height:80px;" ng-click="toggleMaskingButton()">
                <span ng-if="!btnMaskingState">Play Narrow <wbr> Band Masking</span>
                <span ng-if="btnMaskingState === 1">Stop Narrow <wbr> Band Masking</span>
              </button>
            </div>
          </div>

          <!-- empty space -->
          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>

        </div>
      </div>
    </uib-accordion>
  </div>
</div>


<!--Audiogram -->
<!-- This doesn't work yet because the chaResults function looks at previous pages.
Need to update to use the current page's data -->
<!-- <div class="row">
  <div class="col-xs-12">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default no-padding" heading="{{'Audiogram'|translate}}"  is-open="panes.audiogram">
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12" id="manual-audiometry-level-progression" ng-style="{'height': plotContainerHeight}">
              <audiogram-plot data="audiogramData"></audiogram-plot>
            </div>
          </div>

        </div>
      </div>
    </uib-accordion>
  </div>
</div>
 -->


<!-- Table -->
<div class="row">
  <div class="col-xs-12">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default" heading="{{'Results Table'|translate}}"  is-open="panes.table">
        <div class="panel-body">
          <table class="table fixed table-striped">
          <thead>
            <tr>
              <th>{{'Frequency'|translate}}</th>
              <th>{{'AC Left'|translate}}</th>
              <th>{{'AC Right'|translate}}</th>
              <th ng-if="boneConduction">{{'BC Left'|translate}}</th>
              <th ng-if="boneConduction">{{'BC Right'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <!-- Use "Left" since it will always be defined -->
            <tr ng-repeat="presentation in presentationList track by $index">
              <td>{{presentation.F}}</td>
              <td>{{chaExams.storage.manualAudiometry.list.Left[$index] ? chaExams.storage.manualAudiometry.list.Left[$index].Threshold : ''}}</td>
              <td>{{chaExams.storage.manualAudiometry.list.Right[$index] ? chaExams.storage.manualAudiometry.list.Right[$index].Threshold : ''}}</td>
              <td>{{chaExams.storage.manualAudiometry.list["Bone (Left)"][$index] ? chaExams.storage.manualAudiometry.list["Bone (Left)"][$index].Threshold : ''}}</td>
              <td>{{chaExams.storage.manualAudiometry.list["Bone (Right)"][$index] ? chaExams.storage.manualAudiometry.list["Bone (Right)"][$index].Threshold : ''}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </uib-accordion>
  </div>
</div>


<!-- Progression Plot -->
<div class="row" ng-if="showPresentedTones">
  <div class="col-xs-12">
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel panel-default no-padding" heading="{{'Progression'|translate}}"  is-open="panes.progression">
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12" id="manual-audiometry-level-progression" ng-style="{'height': plotContainerHeight}">
              <level-progression ng-if="showLevelProgression" data="levelProgressionData"></level-progression>
            </div>
          </div>

        </div>
      </div>
    </uib-accordion>
  </div>
</div>
