<div ng-controller="gapExamCtrl">
  <div ng-if="gapState === 'exam'" class="row pad-top">
    <div ng-if="useSoftwareButton" class="col-xs-12">
      <software-button></software-button>
    </div>
  </div>
  <div ng-if="gapTraining && gapState !== 'exam'">
    <h2>Training</h2>
    <div class="row pad-top">
      <b>Gap Lengths (ms):</b>
    </div>
    <div id="gapLenghtsRow" name="gapLenghtsRow" class="row">
      <div class="col-xs-1">
        <!-- Intentionally blanks -->
      </div>
      <div ng-repeat="item in gapLengths|limitTo:5" class="col-xs-2">
        <button class="button btn btn-default" type="button" ng-click="startGapExam(item, noiseLevel, false)">{{item}}</button>
      </div>
      <div class="col-xs-1">
        <!-- Intentionally blanks -->
      </div>
    </div>
    <div class="row pad-top">
      <label for="noiseLevel">Noise Level (0-85 dB):</label>
      <input type="number" ng-model="noiseLevel" id="noiseLevel" name="noiseLevel"
       min="0" max="85">
    </div>
    <hr></hr>
    <div class="row pad-top">
      <button class="col button btn btn-default" type="button" ng-click="startGapExam(null, null, true)">Begin Exam</button>
    </div>
  </div>
  <div ng-if="!gapTraining && gapState === 'results'">
    <div>Exam complete, press submit.</div>
    <gap-results-plot data="gapResultsData"></gap-results-plot>
  </div>
</div>
