<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="modal-header">
    Set Max Log Records
</div>
<div class="modal-body">
    Please enter the maximum log length:
    <input type="number" ng-model="maxLogRows" pattern="[0-9]*" autofocus="true"/><br>
    <!--{{maxLogRows}}-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(maxLogRows)">{{'Save'|translate}}</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">{{'Cancel'|translate}}</button>
</div>
