
<div ng-if="cha.state !== 'connected'">
  <h3 translate>The WAHTS is not connected </h3>
  <br>
  <h4 translate>Please try reconnecting, or hand the device to an administrator</h4>
  <br>

  <div ng-if="myCha">
    <button ng-if="cha.state === 'disconnected'" type="button" class="btn btn-default" ng-disabled="cha.state !== 'disconnected'"  ng-click="cha.tryReconnect()" translate>Try Reconnecting</button>
    <div ng-if="cha.state !== 'disconnected'">
      <h4 translate=""> Attempting to Reconnect</h4><br>
      <h4 ng-if="debugMode"> {{'WAHTS State:' | translate}} {{cha.state}} </h4><br>
    </div>
  </div>
  <br><br>

</div>
