<div class="questionbox welcome-page">

  <div class="spacer"></div>


  <div class="spacer"></div>

  <img src="img/icon.svg" style="max-width: 50%" />

  <div class="welcome welcome-title" translate>TABSINT</div>

  <div class="spacer"></div>

  <div class="container">

    <div class="row welcome-row" ng-click="scanQrCodeandAutoConfig()">
      <div class="col-xs-3"></div>
      <div class="col-xs-1 welcome-qr-style">
        <h3 class="welcome">  <img src="img/QR_code.png" style="max-width: 25px"></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Scan Configuration</h3>
      </div>
    </div>

    <div class="row welcome-row" ng-click="switchToExamView()">
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <h3 class="welcome"><i class="ion-edit"></i></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Exam View</h3>
      </div>
    </div>

    <div ng-if="config.build !== 'heartrack'" class="row welcome-row" ng-click="switchToAdminView()">
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <h3 class="welcome"><i class="ion-ios-gear"></i></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Admin View</h3>
      </div>
    </div>


    <div ng-if="config.build !== 'heartrack'" class="row welcome-row" ng-click="router.goto('DOCS')">
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <h3 class="welcome"><i class="ion-help-buoy"></i></h3>
      </div>
      <div class="col-xs-6 text-left">
        <h3 class="welcome" translate>Documentation</h3>
      </div>
    </div>


    <build-details/>
  </div>

</div>

<!-- Active Task Footer -->
<active-tasks></active-tasks>
