<!-- Exam Mode View -->

<header isexam="true" build="config.build"></header>

<!-- Body -->
<div class="has-header">

  <div ng-if="pm.protocolTabsintOutdated" style="background-color:#F25858; color: white; padding: 20px; text-align: center;" ng-click="link('builds')">
    This protocol requires a newer version of TabSINT. Press here to update to the latest version.
  </div>
  <div ng-if="pm.root.protocolUsbCMissing" style="background-color:#F25858; color: white; padding: 20px; text-align: center;">
    This protocol requires the Essential USB-C headset. Please plug the headset in prior to beginning the exam.
  </div>

  <div class="questionbox exam-page">

    <div class="question">

      <!-- Change which template we show based on what "mode" the exam is in. -->
      <div ng-include src="'scripts/routes/exam/state/' + dm.state.mode + '.html'"></div>

      <!-- Debugging display. -->
      <debug-view></debug-view>

      <!-- add space for keyboard -->
      <div class="keyboard-spacer" ng-style="admin.keyboardStyle"></div>

    </div>
  </div>
</div>

<!-- Active Task overlay -->
<active-tasks></active-tasks>

<!-- Footer (incl. buttons) -->
<nav class="navbar-fixed-bottom exam-footer">
  <div class="container-fluid">
    <div class="row response-buttons" ng-if="dm.state.mode==='READY'">
      <div class="col-xs-6">
        <button id="help-btn" type="button"
                class="btn btn-block btn-lg btn-default"
                ng-class="(page.dm.helpText)?'':'disabled custom-disabled'"
                ng-click="examLogic.help()">
          <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
        </button>
      </div>
      <div class="col-xs-6">
        <button id="begin-btn" type="button"
                class="btn btn-block btn-lg btn-primary"
                ng-click="examLogic.begin()"
                ng-if="dm.state.mode==='READY'">
          {{'Begin'|translate}}
        </button>
      </div>
    </div>
    <div ng-if="dm.state.mode==='TESTING'">
      <div class="row response-buttons" ng-if="(debugMode && adminSkipMode) || page.dm.responseArea.enableSkip">
        <div class="col-xs-4">
          <button id="help-btn" type="button"
                  class="btn btn-block btn-lg btn-default"
                  ng-class="(page.dm.helpText)?'':'disabled custom-disabled'"
                  ng-if="!page.dm.enableBackButton"
                  ng-click="examLogic.help()">
            <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
          </button>
          <button id="back-btn" type="button"
              class="btn btn-block btn-lg btn-default"
              ng-class="(page.dm.canGoBack())?'':'disabled custom-disabled'"
              ng-if="!!page.dm.enableBackButton"
              ng-click="examLogic.back()">
            <span class="glyphicon glyphicon-arrow-left"></span> {{'Back'|translate}}
          </button>
        </div>
        <div class="col-xs-4">
          <button id="submit-btn" type="button"
                  class="btn btn-block btn-lg btn-primary"
                  ng-click="examLogic.skip()">
            <span class="glyphicon glyphicon-arrow-right"></span> {{'Skip'|translate}}
          </button>
        </div>
        <div class="col-xs-4">
          <button id="submit-btn" type="button"
                  class="btn btn-block btn-lg btn-primary"
                  ng-class="(page.dm.isSubmittable)?'':'disabled custom-disabled'"
                  ng-disabled= "!page.dm.isSubmittable"
                  ng-click="examLogic.submit()">
              <div ng-if="page.dm.submitText"> {{page.dm.submitText}}</div>
              <div ng-if="page.dm.submitText===undefined"> {{'Submit' | translate}}</div>
          </button>
        </div>
      </div>
      <div class="row response-buttons" ng-if="!((debugMode && adminSkipMode) || page.dm.responseArea.enableSkip)">
        <div class="col-xs-6">
          <button id="help-btn" type="button"
                  class="btn btn-block btn-lg btn-default"
                  ng-class="(page.dm.helpText)?'':'disabled custom-disabled'"
                  ng-if="!page.dm.enableBackButton"
                  ng-click="examLogic.help()">
            <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
          </button>
          <button id="back-btn" type="button"
              class="btn btn-block btn-lg btn-default"
              ng-class="page.dm.canGoBack() ? '' : 'disabled custom-disabled'"
              ng-disabled= "!page.dm.canGoBack()"
              ng-if="!!page.dm.enableBackButton"
              ng-click="examLogic.back()">
            <span class="glyphicon glyphicon-arrow-left"></span> {{'Back'|translate}}
          </button>
        </div>
        <div class="col-xs-6">
          <button id="submit-btn" type="button"
                  class="btn btn-block btn-lg btn-primary"
                  ng-class="(page.dm.isSubmittable)?'':'disabled custom-disabled'"
                  ng-disabled= "!page.dm.isSubmittable"
                  ng-click="examLogic.submit()">
              <div ng-if="page.dm.submitText"> {{page.dm.submitText}}</div>
              <div ng-if="page.dm.submitText===undefined"> {{'Submit' | translate}}</div>
          </button>
        </div>
      </div>
    </div>
    <div class="row response-buttons" ng-if="dm.state.mode==='FINALIZED'">
      <div class="col-xs-6">
        <button id="help-btn" type="button"
                class="btn btn-block btn-lg btn-default"
                ng-class="(page.dm.helpText)?'':'disabled custom-disabled'"
                ng-click="examLogic.help()">
          <span class="glyphicon glyphicon-question-sign"></span> {{'Help'|translate}}
        </button>
      </div>
      <div class="col-xs-6">
        <button id="reset-btn" type="button"
                class="btn btn-block btn-lg btn-success"
                ng-click="examLogic.reset()"
                ng-if="dm.state.mode==='FINALIZED'"> {{'New Exam'|translate}}
        </button>
      </div>
    </div>

    <div class="row" ng-if="!(page.dm.hideProgressBar || dm.state.mode === 'READY' || dm.state.mode === 'FINALIZED')">
      <uib-progressbar ng-if="!isString(dm.state.progress.pctProgress)" value="dm.state.progress.pctProgress"></uib-progressbar>
      <div ng-if="isString(dm.state.progress.pctProgress)" class="progress-words">
        {{dm.state.progress.pctProgress}}
      </div>

    </div>
  </div>
</nav>
