<div ng-controller="FreeFormResponseAreaCtrl">
    <button ng-click="clear()" style="position: relative;">Clear</button>
    <br><br>
    <div style="position: relative">
        <div ng-if="image">
            <img ng-src="{{image.path}}" style="position: absolute; left:10; right:10;" ng-style="{'width': canvas.width, 'height': canvas.height}"/>
        </div>
        <canvas id="canvas" style="position: absolute; left:10; right:10;" canvas-directive></canvas>
        <br>
    </div>
</div>