<div ng-controller="AudiometryInputResponseAreaCtrl">

	<div class="container">

		<div ng-if="patientInfoList.length" class="row text-center">
			<strong>Patient Information</strong>
		</div>

		<div class="row" ng-repeat="patientInfo in patientInfoList">

			<div class="col-xs-3 text-left">
				{{patientInfo}}:
			</div>

			<div ng-if="patientInfo !== 'Audiogram Date'" >

				<div class="col-xs-1"></div>

				<textarea ng-if="patientInfo === 'Age'" class="col-xs-4 text-center" maxlength="3" rows="1" ng-model="page.result.response.Age"> 

					<div class=col-xs-4></div>

				</textarea>

				<div ng-if="patientInfo === 'Gender'" class="dropdown col-xs-4" uib-dropdown id="patient-demographics-dropdown" style="padding-left: 0px; padding-right: 0px">

					<button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle>
			              {{response[patientInfo] || "--"}} <span class="caret caret-position" style="margin-left: 0%"></span>
		            </button>	

		            <!-- list elements when open -->
		            
			        <ul class="dropdown-menu" uib-dropdown-menu>

			            <li ng-repeat="gender in genderOptions"><a href="#" ng-click="selectResponse(patientInfo, null, null, gender)">{{gender}}</a></li>

			        </ul>

			        <div class="col-xs-4"></div>

				</div>

			</div>

			<div ng-if="patientInfo === 'Audiogram Date'">

				<div class="col-xs-1"></div>

				<div class="col-xs-3" style="padding-left: 0px; padding-right: 5px">

					<div class="dropdown" uib-dropdown id="month-dropdown">

						<button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle>
				              {{response['Audiometry Month'] || "mm"}} <span class="caret caret-position" style="margin-left: 0%"></span>
			            </button>	

				        <ul class="dropdown-menu" uib-dropdown-menu>

			            	<li ng-repeat="month in monthOptions"><a href="#" ng-click="selectResponse('Audiometry Month', null, null, month)">{{month}}</a></li>

			            </ul>

			        </div>

			    </div>

			    <div class="col-xs-2" style="padding-left: 5px; padding-right: 5px">

					<div class="dropdown" uib-dropdown id="day-dropdown">

						<button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle>
				              {{response['Audiometry Day'] || "dd"}} <span class="caret caret-position" style="margin-left: 0%"></span>
			            </button>	

				        <ul class="dropdown-menu" uib-dropdown-menu>

			            	<li ng-if="patientInfo === 'Audiogram Date'" ng-repeat="day in dayOptions"><a href="#" ng-click="selectResponse('Audiometry Day', null, null, day)">{{day}}</a></li>

			            </ul>

			        </div>

			    </div>

			    <div class="col-xs-3" style="padding-left: 5px; padding-right: 10px">

					<div class="dropdown" uib-dropdown id="year-dropdown">

						<button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle>
				              {{response['Audiometry Year'] || "yyyy"}} <span class="caret caret-position" style="margin-left: 0%"></span>
			            </button>	

				        <ul class="dropdown-menu" uib-dropdown-menu>

			            	<li ng-if="patientInfo === 'Audiogram Date'" ng-repeat="year in yearOptions"><a href="#" ng-click="selectResponse('Audiometry Year', null, null, year)">{{year}}</a></li>

			            </ul>

			        </div>

			    </div>

		    </div>

		</div>

		<br>

		<div class="row text-center">
			<strong>Audiogram Data</strong>
		</div>

		<div class="row text-center">

			<div class="col-xs-4">
				Hearing Level
			</div>

			<div class="col-xs-4">
				Right Ear
			</div>

			<div class="col-xs-4">
				Left Ear
			</div>

		</div>

		<div class="row" ng-repeat="audiogramFrequency in audiogramFrequencies">

			<div class="col-xs-4 text-left">
				{{audiogramFrequency}}
			</div>

			<div class="col-xs-4">

				<div class="dropdown" uib-dropdown id="audiometry-input-right-dropdown">

					<button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle style="color: red">
			              {{response.right[audiogramFrequency] || "--"}} <span class="caret caret-position" style="margin-left: 0%" style="color: red"></span>
		            </button>	

		            <!-- list elements when open -->
		            <ul class="dropdown-menu" uib-dropdown-menu>

			            <li ng-repeat="threshold in thresholdOptions"><a href="#" ng-click="selectResponse('audio', audiogramFrequency, 'right', threshold)" style="color: red">{{threshold}}</a></li>
		       
		            </ul>

	            </div>
	            
	        </div>

			<div class="col-xs-4">

				<div class="dropdown" uib-dropdown id="audiometry-input-right-dropdown">

					<button type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle style="color: blue">
			              {{response.left[audiogramFrequency] || "--"}} <span class="caret caret-position" style="margin-left: 0%" style="color: blue"></span>
		            </button>	

		            <!-- list elements when open -->
		            <ul class="dropdown-menu" uib-dropdown-menu>

			            <li ng-repeat="threshold in thresholdOptions"><a href="#" ng-click="selectResponse('audio', audiogramFrequency, 'left', threshold)" style="color: blue">{{threshold}}</a></li>
		       
		            </ul>

	            </div>
	            
	        </div>

		</div>

	</div>

</div>