/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code package.
 */

/*------
* Schemes
*
* Background: #f5f5f5
* Background Complementary (Borders): #efefef
* Primary: #337ab7
* Secondary: #31708f;
* Border Color: #efefef;
* -------- */

/*------------
* Fonts
* ------------*/
 @font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

/*------------
* General Styling
* ------------*/

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

textarea {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

html {
  background-color: #f5f5f5;
}

body {
  background-color: #f5f5f5;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  overflow-x: hidden;
}

.tablet-interface {
  max-width: 650px;
  margin: auto;
}

a:hover, a:focus {
  text-decoration: none;
}

@media (max-width: 500px) {
  body {
    font-size: 20px;
    max-width: 650;
    margin: auto;
  }
}

.pad-top {
  padding-top: 10px;
}

.spacer {
  padding: 30px 0 0 0;
}


/* scrollbars*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  /*-webkit-border-radius: 10px; border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*background: rgba(54,138,175,0.4);*/
  background: rgba(119, 119, 119, 0.6);
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}


/* ----------
* Welcome Page
* -----------*/
.welcome-page {
  height: 100vh;
  overflow-y: overlay
}

.welcome-title {
  font-variant-caps: small-caps;
  font-size: 45px;
  letter-spacing: 2px;
}

.welcome-row {
  border-radius: 3px;
  border: 1px solid #efefef;
  padding: 5% 0 5% 0;
  margin: 2% 0 2% 0;
  background-color: #f5f5f5;
}

h3.welcome {
  margin: 0;
}

/* for welcome page on phones*/
@media (max-width: 500px) {
  h1.welcome {
    font-size: 36px;
  }
  h3.welcome {
    font-size: 16px;
    margin: 0;
  }

  hr.welcome {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.disclaimer {
  padding: 12px;
  font-size: 18px;
}
.disclaimer-heading {
  font-size: 32px;
}
.disclaimer-release {
  font-size: 16px;
}
@media (max-width: 500px) {
  .disclaimer-heading {
    font-size: 22px;
  }
  .disclaimer-body {
    font-size: 14px;
  }
  .disclaimer-release {
    font-size: 12px;
  }
}

/* build-details*/
.build-details {
  padding: 6px 0 6px 0;
  width: 100%;
  text-align: center;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(170, 170, 170);
  left: 0;
  bottom: 0;
}

@media (max-width: 500px) {
  .build-details {
    font-size: 10px;
  }
}

/* ----------
* Modals
* -----------*/
.modal-open {
  overflow: hidden;
  width: 100%;
}

.modal-content {
  background-color: #f5f5f5;
  max-width: 650px;
  margin: auto;
}

.modal-header {
  font-weight: bold;
  /*background-color: #f5f5f5;*/
}

.modal-body {
  font-size: 22px;
  background-color: #FFFFFF;
}

@media (max-width: 500px) {
  .modal-body {
    font-size: 18px;
  }
}


/*-----------
* Buttons
* -----------*/
.btn {
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  white-space: normal;
  position: relative;
}

@media (max-width: 500px) {
  .btn {
    font-size: 16px;
  }
}

button.btn.disabled.custom-disabled {
 opacity: 0.2;
}

.btn-faded {
  opacity: 0.15;
}

.btn-disabled {
  pointer-events: none;
}

/* darken the default color a smidge */
.btn-default {
  background-color: #f5f5f5;
}


/*-----------
* Exam Page
* -----------*/

.exam-page {
  height: calc(100vh - 60px - 4em);
  overflow-y: overlay;
}

.exam-footer {
  background-color: #f5f5f5;
  padding: 0px 15px 0px 15px;
  box-shadow: 0 -1px 6px 0px rgba(0,0,0,0.25);
  /*box-shadow: 0 0px 1px 1px rgba(0,0,0,0.25);*/
  max-width: 650px;
  margin: auto;
  height: 4em;
}

@media (max-width: 500px) {
  .exam-footer {
    padding: 0px 10px 0px 10px;
  }
}
.status {
  text-align: center;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  margin: 0 0 0 0;
}

.progress {
  height: 10px;
  background-color: #E3E3E3;
  width: 90%;
  position: absolute;
  margin: auto;
  bottom: 10%;
  left: 5%;
}

.progress-words{
  font-size: 16px;
  text-align: center;
}

@media (max-width: 500px) {
  .progress-words{
    font-size: 12px;
  }
}

.question .row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 500px) {
  .question .row {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.question-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  max-width: 650px;
  margin: auto;
}

.surveytitle {
  color: rgb(64, 64, 64) !important;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-left: 6%;
}

@media (max-width: 500px) {
  .surveytitle {
    font-size: 18px;
  }
  .spacer {
    padding: 2% 0 0 0;
  }
}

.keyboard-spacer {
  padding: 5px 0 0 0;
}

.debug-view {
  padding-top: 20px;
  padding-bottom: 10px;
}

.questionbox {
  position: relative;
  text-align: center;
  font-family: "Open-Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(255,255,255);
  padding: 15px 15px 20px 15px;
}

@media (max-width: 500px) {
  .questionbox {
    padding: 10px 10px 20px 10px;
    font-size: 18px;
  }
}

.question {
  text-align: center;
}

.question h1 {
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:  #337ab7;
  font-size: 40px;
  font-weight: 700;
}

.question h1.medium {
  font-size: 32px;
  text-align: left;
}

.question h1.long {
  font-size: 28px;
  text-align: left;
}

@media (max-width: 500px) {
  .question h1 {
    font-size: 24px;
  }
  .question h1.medium {
    font-size: 22px;
  }
  .question h1.long {
    font-size: 20px;
  }
}

.finalized-table {
  font-size: 20px;
}

@media (max-width: 500px) {
  .finalized-table {
    font-size: 16px;
  }
}

.question h2 {
  font-family: "Open-Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #31708f;
  font-size: 34px;
  font-weight: 500;
}

@media (max-width: 500px) {
  .question h2 {
    font-size: 22px;
  }
}

.question p {
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(107, 107, 107);
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 500px) {
  .question p {
    font-size: 20px;
  }
}

.question .instructions, .question .instructions p {
  font-size: 22px;
  font-style: normal;
}

@media (max-width: 500px) {
  .question .instructions, .question .instructions p {
    font-size: 18px;
  }
}


/*-----------
* Response Areas
* -----------*/

p.nato-sentence {
  font-style: normal;
}

.multi-choice-container {
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  padding-left:30px;
  padding-right:30px;
}

.multi-choice-container button {
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input{
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  border-radius: 6px;
}

input[type=number] {
  text-align: center;
}

input[type=checkbox] {
  transform: scale(1.25);
}

@media (min-width: 768px){
  input[type=checkbox] {
    transform: scale(1.5);
  }
}

@media (max-width: 500px) {
  input{
    font-size: 20px;
  }
}

.response-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .response-buttons {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.multimedia {
  position: relative;
  margin:auto;
  /*padding: 36px;*/
}

.zoom {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 40px;
  right: 48px;
  color: rgb(255, 255, 255);
}

.likert form {
  padding: 0 35px 0 35px;
}

.likert table, .likert th, .likert td {
  width: 100%;
  table-layout: fixed;
  /*border: 1px solid black;*/
}

.likert tr {
  text-align:center
}
.likert tr.top td{
  vertical-align:bottom;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.likert tr.bot td {
  vertical-align:top;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.likert .likert-question-text {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: rgb(0, 169, 242);
}

.question {
  font-size: 20px;
}

.question .btn {
  font-size: 20px;
}

.question .likert-label, .dropdown-menu {
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: rgb(107, 107, 107);
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.likert-button {
  width: 40px;
  height: 40px;
}

p.likert-label.primary {
  font-weight: 700;
  padding-top:0;
  padding-bottom:0;
  margin: 0 0 0;
}

.likertborder {
  border: 5px solid black;
}

@media (max-width: 500px) {
  .question, .dropdown-menu {
    font-size: 16px;
  }
  .question .likert-label {
    font-size: 14px;
  }
  .likert-button {
    width: 26px;
    height: 26px;
  }
}

.dropdown-pull-right {
  float: right !important;
  right: 0;
  left: auto;
}

@media (min-width: 768px) {
  .dropdown-menu {
    font-size: 24px;
  }
}


table.keypad button.symbol .glyphicon {
  color:rgb(60,60,60);
  font-weight:400;
  font-size:20px;
  line-height:.9;
}

table.keypad button.symbol {
  color:rgb(60,60,60);
  font-weight:200;
  font-size:16px;
  line-height:.9;
}

table.keypad button {
  height:70px;
  width:70px;
  border-radius: 40px;
  margin: 3px 6px 3px 6px;
  font-size:35px;
  line-height:1.0;
}

@media (max-width: 500px) {
  table.keypad button.symbol {
    font-size:14px;
  }
  table.keypad button {
    height:60px;
    width:60px;
    font-size:30px;
  }
}

table.keypad {
  margin: auto;
  margin-top:10px;
}

.manual-audiometry-level-text {
  font-weight: bold;
  font-size: 34px;
}
.manual-audiometry-level-units {
  font-size: 28px;
}
@media (max-width: 500px) {
  .manual-audiometry-level-text {
    font-weight: bold;
    font-size: 30px;
  }
  .manual-audiometry-level-units {
    font-size: 24px;
  }
}

.omt table {
  width: 100%;
}
.omt th {
  margin:auto;
  font-size:18px;
  font-weight: 300;
  text-align: center;
}
.omt td {
  padding: 7px;
}
.omt button {
  font-size: 22px;
  padding: 2px 3px 2px 3px;
}

@media (max-width: 500px) {
  .omt button {
    font-size: 12px;
  }
}

.button-grid table, .button-grid th, .button-grid td {
  width: 100%;
  table-layout: fixed;
}

.button-grid table {
  margin-left: auto;
  margin-right: auto;
}
.button-grid th {
  margin: auto;
  font-size:18px;
  font-weight: 300;
  text-align: center;
}
.button-grid td {
  padding: 7px;
}
.button-grid button {
  font-size: 22px;
  /*padding: 2px 3px 2px 3px;*/
}

.integer-input {
  height: 50px;
  font-size: 30px;
  border: 2px solid #efefef;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 5px;
  font-weight: 800;
}

@media (max-width: 500px) {
  .integer-input {
    font-weight: 600;
  }
}

.integer-decimal {
  font-size: 45px;
}

.seesaw-header {
  font-size:18px;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(107, 107, 107);
  padding-top:10px;
  padding-bottom:15px;
  display: flex
}

.seesaw-label {
  font-size:14px;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(107, 107, 107);
  padding-top:10px;
  padding-bottom:10px;
  height:50px;
  text-align:left;
}

.seesaw-footer {
  height:50px;
  max-width: 650px;
  margin: auto;
}

.seesaw-image-container {
  text-align:center;
}

.seesaw-image {
  width: 160px;
  height: 250px;
}

@media (max-width: 500px) {
  .seesaw-label {
    height:60px;
  }

  .seesaw-image {
    width: 80%;
    height: auto;
    padding-bottom: 30px;
  }

}

.seesaw table, .seesaw th, .seesaw td {
  width: 100%;
  table-layout: fixed;
  vertical-align:middle;
  /*border: 1px solid black;*/
}

.video-responsive {
  padding-top: 20px;
  height: auto;
  max-width: 100%;
}

.video-rounded {
  border-radius: 6px;
}

textarea {
  resize: none;
  width: 90%;
  border-radius: 4px;
  border: solid 2px #efefef
}

.warn-darkorange{
  color: darkorange;
}

.warn-red{
  color: red;
}

.crm-table {
  width: 100%;
}

.btn-crm {
  width: 130px;
  height: 40px;
  font-weight: 600;
}

.btn-crm-correct {
    width: 140px;
    height: 60px;
    font-size: 30px;
    font-weight: 900;
}

/*---------
* Header
* ---------*/
.dropdown-nav {
  max-height: 500px;
  min-width: 225px;
}

nav .dropdown-menu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icons-right{
  display: flex;
  justify-content: flex-end;
}

.menu-center{
  align-self: center;
}

@media (min-width: 768px) {
  .nav-tabs {
    font-size: 24px;
  }
  .form-control {
    font-size: 16px;
  }
}

.nav-tabs {
  display: flex;
  align-items: center;
}

.nav-link.ng-binding {
  display: flex;
  align-self: stretch;
  align-items: center;
}

.has-header {
  margin-top: 60px;
}

.navbar-fixed-top {
  background-color: #f5f5f5;
  color:  #337ab7;
  font-size: 24px;
  padding-top: 15px;
  border: none;
  margin-bottom: 0px;
  height: 60px;
  box-shadow: 0 1px 6px 0px rgba(0,0,0,0.25);
  /*box-shadow: 0 0 1px 1px rgba(0,0,0,0.25);*/
}

.navbar-left {
  float: left;
}
.navbar-right {
  float: right;
}

/* see also surveytitle class*/
.header-text {
  color:  #337ab7 !important;
  font-size: 24px;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
}

.task-toggle {}

@media (max-width: 500px) {
  .header-text {
    font-size: 20px;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(64, 64, 64);
}

/*-----------
* Admin Page
* -----------*/
.admin {
  background-color: #f5f5f5;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.admin-page {
  height: calc(100vh - 60px);
  overflow-y: overlay
}

.admin .btn {
  font-size: 20px;
}

.caret-position {
  position: absolute;
  top: 50%;
  right: 10px;
}

@media (max-width: 500px) {
  .admin {
    font-size: 16px;
  }
  .admin .btn {
    font-size: 14px;
  }
  .admin-page {
    font-size: 16px;
  }
}

.admin td {
  font-size: 16px;
}
input.pin-entry[type=number] {
  -webkit-text-security: disc;
}

.admin-log-display {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 9pt;
  font-family: monospace;
}

/* this is a hack to make the whole panel title clickable */
.panel-heading {
  padding: 0;
}
.panel-title a {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
}


/* Protocol Table */
table.fixed .row-Name {
  /*width: 30%;*/
  padding-left: 0px;
}
table.fixed .row-Version {
  /*width: 25%;*/
}
table.fixed .row-Date {
  /*width: 25%;*/
}
table.fixed .row-Server {
  /*width: 20%;*/

}
table.fixed .row-Counts {
  width: 20%;
}

/* table.fixed .row-Date.results {
  width: 25%;
} */
table.fixed .row-Server.results {
  width: 23%;
}

.plugin-panel .panel-heading {
  background-color: rgba(0, 169, 242, 0.1);
}

.panel-heading {
  text-align: left !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #f5f5f5;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li {
  display: flex;
  align-self: stretch;
}

.nav-tabs-alignment {
  align-items: center;
}


/* --------
* Overrides
* --------- */
.row {
  display: flex;
  align-items: center;
}

.dropdown-width {
  display: block;
  padding-left: 0px;
  padding-right: 10px;
}

.col-xs-4 {
  display: flex;
  align-self: stretch;
  padding-left: 5px;
  padding-right: 5px;
}

.admin-labels {
  /* display: flex;
  align-self: stretch; */
  padding-left: 15px;
  padding-right: 5px;
}

.col-xs-2 {
  display: flex;
  justify-content: center;
}

.col-xs-1 {
  padding-right: unset;
}

.admin-input {
  padding-left: 25px;
  padding-right: 0px;
}

/* Help icon alignment */
.help-padding {
  padding-right: unset;
}

/* Tracking by Tags alignment */
.tags-shift {
  padding-top: 10px;
  padding-left: 10px;
}

/* Protocol Advanced Labels alignment*/
.protocol-advanced-labels {
  padding-left: 15px;
}

/*---------
* Protocol tag alignment
* ---------*/
.protocol-tag-alignment {
  align-self: center;
}

/*---------
* Release link correction
* ---------*/
.release-link-display {
  display: block;
}

/* Bluetooth selection correction */
.bluetooth-width {
  min-width: 9.5em;
}

/* Result Mode selection correction */
.results-mode-width {
  min-width: 10.5em;
}

/* Welcome QR code position */
.welcome-qr-style {
  padding-left: 0.55em;
}

/*---------
* Unsorted
* ---------*/
.disablingDiv {
  /* Do not display it on entry */
  display: block;

  /* Display it on the layer with index 1001.
   Make sure this is the highest z-index value
   used by layers on that page */
   z-index:1001;

   /* make it cover the whole screen */
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;

   /* make it white but partially transparent */
   background-color: white;
   opacity:.50;
   filter: alpha(opacity=50);
}

.sample-show-hide {
  position:relative;
  display:block;
  width:100%;
  height:1000px;
}

.sample-show-hide.ng-animate {
  transition: all .3s ease-in-out;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:1;
  width: 100%;
  overflow:hidden;
}

.sample-show-hide.ng-hide {
  opacity:0;
}


.animate-switch-container {
  position:relative;
  display:block;
  width:100%;
  height:1000px;
  /*margin-bottom: 5px;*/
}

.animate-switch.ng-animate {
  transition: all .3s ease-in-out;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  overflow:hidden;
}

.animate-switch.ng-leave.ng-leave-active {
  left:-100%;
  opacity:0;
}
.animate-switch.ng-enter {
  left:100%;
  opacity:0;
}
.animate-switch.ng-leave {
  left:0;
  opacity:1;
}
.animate-switch.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}


.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.axisnoline path,
.axisnoline line {
  fill: none;
  stroke: none;
}


.tick line {
  stroke: none;
}

.grid line {
  stroke: grey;
  stroke-width: 1;
}

.audiogram-table td, .audiogram-table th {
  font-size: 16px;
  height: 16px;
  padding: 1px;
}


.grey {
  background: rgba(0,0,0,.10)
}

.three-digit-row {
  height: 60px;
  font-size: 35px;
  padding: 2px;
  font-weight: 600;
}

.three-digit-response-incorrect {
  border: 2px solid #efefef;
}

.three-digit-response-correct {
  border: 2px solid #efefef;
  color: #ffffff;
  background-color: green;

}

.highlighted {
  color:white;
  background-color: #337ab7;
}


/* -----------
* Tables
* ------------*/
.active-row {
  background-color: #FFF9DC;
}

.table-selected {
  background-color: #E6E6E6;
}

table.fixed {
  table-layout: fixed;
  overflow-wrap: break-word;
  padding-left: 3px;
  padding-right: 3px;
}


@media (max-width: 500px) {
  .panel-body {
    padding: 8px;
  }
}
.container {
  width: 100%;
}



/*------------
* JSON Formatter
* ------------*/
.json-formatter-row {
  font-size: 18px;
}


/*------------
* CHA
* ------------*/

.btn-cha, .btn-cha:focus, .btn-cha:hover {
  background: linear-gradient(#FD7676, #C70202);
  border-color: rgb(150, 150, 150);
  border-width: 1px;
  outline: none;
  height: 25vh;
  width: 70%;
  /*color: rgba(0, 0, 0, 0.8); */
  color: #FFFFFF;
  text-align: center;
  border-radius: 40px;

  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}

/* active state, focus removes the outline ring when active*/
.btn-cha:active, .btn-cha:active:focus, .btn-cha.active, .btn-cha.active:focus {
  background: #970202;
  outline: none;
}

.btn-cha-right, .btn-cha-right:focus, .btn-cha-right:hover {
    background: linear-gradient(#FD7676, #C70202);
    border-color: rgb(150, 150, 150);
    border-width: 1px;
    outline: none;
    height: 15vh;
    width: 40%;
    /*color: rgba(0, 0, 0, 0.8); */
    color: #FFFFFF;
    text-align: center;
    border-radius: 40px;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

/* active state, focus removes the outline ring when active*/
.btn-cha-right:active, .btn-cha-right:active:focus, .btn-cha-right.active, .btn-cha-right.active:focus {
    background: #970202;
    outline: none;
}

.btn-cha-left, .btn-cha-left:focus, .btn-cha-left:hover {
    background: linear-gradient(#4682B4, #0000FF);
    border-color: rgb(150, 150, 150);
    border-width: 1px;
    outline: none;
    height: 15vh;
    width: 40%;
    /*color: rgba(0, 0, 0, 0.8); */
    color: #FFFFFF;
    text-align: center;
    border-radius: 40px;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

/* active state, focus removes the outline ring when active*/
.btn-cha-left:active, .btn-cha-left:active:focus, .btn-cha-left.active, .btn-cha-left.active:focus {
    background: #000080;
    outline: none;
}

button.btn.cha-unselected {
  background: rgb(255,255,255);
  color: rgb(0,0,0);
  border-color: rgb(255,255,255);
}

button.btn.cha-selected{
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  border-color: rgb(0,0,0);
  outline: 5px;
}

.cha-modal-bluetoothtype {
  font-weight: normal;
}

.cha-results table {
  width: 60%;
  margin: auto;
}

.cha-results th {
  margin:auto;
  font-size:24px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.cha-results td {
  font-size:24px;
  font-weight: 300;
  padding: 7px;
  border: 1px solid black;
}

@media (max-width: 500px) {
  .cha-results th {
    font-size: 18px;
  }
  .cha-results td {
    font-size: 18px;
  }
}


.cha-three-digit-row {
  height: 60px;
  font-size: 35px;
  padding: 2px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .cha-three-digit-row {
    height: 60px;
    font-size: 35px;
  }
}

.cha-three-digit-response-incorrect {
  border: 2px solid #efefef;
  text-align: center;
}

.cha-three-digit-response-correct {
  border: 2px solid #efefef;
  text-align: center;
  color: #ffffff;
  background-color: green;

}

@media (max-width: 500px) {
  .cha-tat-row {
    align-items: center;
    height: 60px;
    font-size: 35px;
  }
}

.cha-tat-playing {
  background: #83b3c9;
}

.cha-tat-training {
  font-weight: 700;
}

.cha-battery-status {
  height:18px;
  background-color: rgb(0,169,242);
  vertical-align: inherit;
}

.cha-battery-border {
  display: inline-block;
  height:25px;
  border: 4px outset black;
  border-radius:3px;
  vertical-align: text-bottom;
}


/*------------
* Active Tasks
* ------------*/
.active-tasks-container {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:10000;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.25);
    margin: 10px;
    border-radius: 4px;
    max-width: 650px;
    margin: auto;
}
.active-tasks-panel {
    margin-bottom: 0px;
}
