<div class="cha-info">
  <div class="row pad-top" >
    <div class="col-xs-4"><b>WAHTS</b></div>
  </div>

  <div class="row pad-top" >
    <div class="col-xs-4">Name:</div>
    <div class="col-xs-8">{{cha.myCha.name}}</div>
  </div>

  <!-- Connected Cha Description -->
  <div class="row pad-top">
    <div class="col-xs-4">Description:</div>
    <div class="col-xs-8">{{cha.myCha.id.description}}</div>
  </div>

  <!-- Calibration Date -->
  <div class="row pad-top">
    <div class="col-xs-4">Calibration Date: </div>
    <div class="col-xs-8" >{{cha.myCha.id.chaCalibrationDate}}</div>
  </div>


  <!-- Connected Cha Firmware-->
  <div class="row pad-top">
    <div class="col-xs-4">Firmware:</div>
    <div class="col-xs-8">{{cha.myCha.id.buildDateTime}}</div>
  </div>

  <!-- Connected Cha Serial-->
  <div class="row pad-top">
    <div class="col-xs-4">Serial number:</div>
    <div class="col-xs-8">{{cha.myCha.id.serialNumber}}</div>
  </div>

  <!-- Battery Level-->
  <div class="row pad-top">
    <div class="col-xs-4">Battery Level:</div>
    <div class="col-xs-4">
      <span class="cha-battery-border" ng-style="{'width': cha.myCha.batteryIndicatorWidth+'%'}">
        <div ng-if="cha.myCha.battery.status() === 'Good'" class="cha-battery-status" ng-style="{'width': cha.myCha.battery.level()+'%', 'background-color': 'green'}"></div>
        <div ng-if="cha.myCha.battery.status() === 'Satisfactory'" class="cha-battery-status" ng-style="{'width': cha.myCha.battery.level()+'%', 'background-color': 'orange'}"></div>
        <div ng-if="cha.myCha.battery.status() === 'Low'" class="cha-battery-status" ng-style="{'width': cha.myCha.battery.level()+'%', 'background-color': 'red'}"></div>
      </span>

    </div>
    <div class="col-xs-4"><small>{{cha.myCha.battery.status()}} {{cha.myCha.vBattery | number:2}}V </small></div>
  </div>

</div>
