<div ng-controller="IntegerResponseAreaCtrl">
  <form name="myForm">
    <div class="integer-input" ng-bind="response"></div>
      <table class="keypad">
          <tr>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(1)">1</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(2)">2</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(3)">3</button></td>
          </tr>
          <tr>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(4)">4</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(5)">5</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(6)">6</button></td>
          </tr>
          <tr>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(7)">7</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(8)">8</button></td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(9)">9</button></td>
          </tr>
          <tr>
              <td>
                <button ng-if="negative" type="button" class="btn btn-block btn-default symbol" ng-click="changesign()"><span ng-class="getSign()"></span></button>
                <button ng-if="!negative && float" type="button" class="btn btn-block btn-default symbol" ng-click="backspace()"><span class="glyphicon glyphicon-arrow-left"></span><br>delete</button>
              </td>
              <td><button type="button" class="btn btn-default btn-block" ng-click="appendDigit(0)">0</button></td>
              <td>
                <button ng-if="float" type="button" class="btn btn-block btn-default symbol" ng-click="addDecimal()"><span class="integer-decimal"> &#183; </span></button>
                <button ng-if="!float" type="button" class="btn btn-block btn-default symbol" ng-click="backspace()"><span class="glyphicon glyphicon-arrow-left"></span><br>delete</button>
              </td>
          </tr>
          <tr>
            <td></td>
            <td><button ng-if="float && negative" type="button" class="btn btn-block btn-default symbol" ng-click="backspace()"><span class="glyphicon glyphicon-arrow-left"></span><br>delete</button></td>
            <td></td>
          </tr>

      </table>
  </form>
</div>