

<!--Exam Page-->
  <div ng-if="chaExams.state === 'exam'">

    <!-- Show audiometry properties while testing -->
    <div ng-if="page.dm.responseArea.hideExamProperties !== 'during'">
      <audiometry-properties></audiometry-properties>
    </div>

    <software-button ng-if="useSoftwareButton"></software-button>

    <br><br>

    <a ng-if="page.dm.responseArea.pause" ng-click="pauseAudiometryExam()" translate>
      Pause
    </a>
  </div>


  <div ng-if="chaExams.state === 'repeat'">
    {{'Unfortunately the last test was not successful.  Please try again and listen carefully.' | translate }}

    <button class="btn btn-default" ng-click="repeatChaExam()" translate>Repeat Exam</button>

    <a ng-if="skipOption" ng-click="skipExam()" translate>
      Skip
    </a>
  </div>

  <div ng-if="chaExams.state === 'repeatGroup'">
    <button class="btn btn-default" ng-click="examLogic.submit()" translate>Repeat Exam(s)</button>
    <a ng-if="skipOption" ng-click="skipExam()" translate>
      Skip
    </a>
  </div>

  <div ng-if="chaExams.state === 'notes'">
    <textarea ng-model="page.result.notes" rows="6" autofocus="true" maxlength="250"></textarea>
  </div>

<!--Results page-->
  <div ng-if="chaExams.state === 'results'" class="cha-results">

    <div ng-if="ResultType !== 'Threshold'">
      {{'Test Unsuccessful' | translate}}<br>{{ResultType}}
    </div>

    <div ng-if="ResultType === 'Threshold'">
      <div ng-if="examType === 'BHAFT'">
        <div>{{'Frequency:' | translate}} {{ThresholdFrequency | number:0}} Hz</div>
        <div>{{'Threshold:' | translate}} {{Threshold | number:0}} dB SPL</div>
      </div>
      <div ng-if="examType !== 'BHAFT'">
        {{'Threshold:' | translate}} {{Threshold.toString().split('.')[0]}} {{Units}}
      </div>
    </div>

    <div ng-if="showLevelProgression">
      <level-progression data="levelProgressionData"></level-progression>
      <br>
    </div>
    <div ng-if="showAudiogram">
      <audiogram-plot data="audiogramData"></audiogram-plot>
    </div>



  </div>
