<div ng-controller="AudiometryTableCtrl">

  <div class="cha-results" ng-if="resultsList">
    <div >
      <table class="audiogram-table">
        <tr>
          <td><b>Ear</b></td>
          <td ng-if="resultsList[0].examType === 'BekesyFrequency' || resultsList[0].examType === 'HughsonWestlakeFrequency'"><b>Level<br />(dB SPL)</b></td>
          <td ng-if="resultsList[0].examType === 'BHAFT'"><b>Threshold Frequency<br />(Hz)</b></td>
          <td ng-if="resultsList[0].examType === 'BekesyLike' || resultsList[0].examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD'"><b>Frequency<br />(Hz)</b></td>
          <td ng-if="resultsList[0].examType === 'BekesyFrequency' || resultsList[0].examType === 'HughsonWestlakeFrequency'"><b>Threshold<br />(Hz)</b></td>
          <td ng-if="resultsList[0].examType === 'BHAFT'"><b>Threshold Level<br />(dB SPL)</b></td>
          <td ng-if="resultsList[0].examType === 'BekesyLike' || resultsList[0].examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD'"><b>Threshold<br />({{resultsList[0].examProperties.LevelUnits}})</b></td>

          <!-- SLM Columns -->
          <td ng-if="showSLMNoise && (resultsList[0].examType === 'BekesyLike' || resultsList[0].examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD')"><b>   SLM L<sub>Fc</sub>   <br />(dB SPL)</b></td>
          <td ng-if="showSLMNoise"><b>   SLM LA<sub>eq</sub>   <br />(dB SPL)</b></td>

          <!-- Svantek Columns -->
          <td ng-if="showSvantek && (resultsList[0].examType === 'BekesyLike' || resultsList[0].examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD')"><b>   Dosimeter L<sub>Fc</sub>   <br />(dB SPL)</b></td>
          <td ng-if="showSvantek"><b>   Dosimeter LA<sub>eq</sub>   <br />(dB SPL)</b></td>
        </tr>

        <tr ng-repeat="result in resultsList">
          <td>
            <span ng-if="result.examProperties.OutputChannel === 'HPL0'">Left</span>
            <span ng-if="result.examProperties.OutputChannel === 'HPR0'">Right</span>
            <span ng-if="result.examProperties.OutputChannel === 'LINEL0' || result.examProperties.OutputChannel === 'LINEL0 NONE'">Bone (Left)</span>
            <span ng-if="result.examProperties.OutputChannel === 'NONE LINEL0'">Bone (Right)</span>
          </td>
          <td>
            <span ng-if="result.examType === 'BekesyFrequency' || result.examType === 'HughsonWestlakeFrequency'">{{result.examProperties.Level}} {{result.examProperties.LevelUnits}}</span>
            <span ng-if="result.examType === 'BHAFT'">{{result.ThresholdFrequency}}</span>
            <span ng-if="result.examType === 'BekesyLike' || result.examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD'">{{result.examProperties.F}}</span>
          </td>
          <td>
            <span ng-if="!result.examProperties.Screener">{{result.Threshold}}</span>
            <span ng-if="result.examProperties.Screener">{{result.ResultType}}</span>
          </td>

          <!-- SLM Columns -->
          <td ng-if="showSLMNoise && (result.examType === 'BekesyLike' || result.examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD')"> <span ng-if="result.slm.bandLevel">{{result.slm.bandLevel.toPrecision(3)}}</span></td>
          <td ng-if="showSLMNoise"> <span ng-if="result.slm.LeqA">{{result.slm.LeqA.toPrecision(3)}}</span></td>

          <!-- Svantek Columns -->
          <td ng-if="showSvantek && (result.examType === 'BekesyLike' || result.examType === 'HughsonWestlake' || resultsList[0].examType === 'BekesyMLD')"> <span ng-if="result.svantek.bandLevel">{{result.svantek.bandLevel.toPrecision(3)}}</span></td>
          <td ng-if="showSvantek"> <span ng-if="result.svantek.LeqA">{{result.svantek.LeqA.toPrecision(3)}}</span></td>
        </tr>

      </table>
      <br>
    </div>
  </div>


</div>
