<div ng-controller="calibrationCheckCtrl">

  <div ng-if="state === 'start'">
    <!-- This should allow the user to queue calibration check exam. -->
    <button type="button" class="btn btn-default" ng-click="startCalibrationCheckExam()">Start Calibration Check</button>
  </div>

  <div ng-if="state === 'running'">
    <!-- Indicate the check is running. -->
    <h3>
      Please wait, the calibration check is running.
    </h3>
  </div>

  <div ng-if="state === 'results'" class="cha-results">
    <!-- Show the bar plots. -->
    <calibration-plot data="calibrationData"></calibration-plot>
  </div>

</div>
