<div ng-controller="ImageMapResponseAreaCtrl">
  <div class="multimedia" ng-if="image" ng-style="{width:image.width}">

    <!-- image -->
    <img ng-src="{{image.path}}" alt="cows" class="img-responsive img-rounded" usemap="#hotspotMap" coord-translate/>

    <!-- hotspot map -->
    <map id="hotspotMap" name="hotspotMap">
        <area ng-repeat="hotspot in hotspots" shape="{{hotspot.shape}}" coords="{{hotspot.coordinates}}" ng-click="choose(hotspot.id)">
    </map>
  </div>
  <div class="row" ng-show="enableOtherText" id="otherInput">
    <span class="glyphicon glyphicon-arrow-right"></span>
    <input type="text" enter-close name="Other"
           ng-model="page.result.otherResponse"
           autofocus="true">
    <p style="margin-bottom: 200px"></p>
  </div>
</div>
