<div ng-controller="AudiogramCtrl">
  <div ng-if="showAudiogram">
    <audiogram-plot data="audiogramData"></audiogram-plot>
  </div>
  <div ng-if="!showAudiogram">
    <span>No Data Matching the Plot Criteria.</span>
  </div>
</div>



