<div ng-controller="SubjectIdResponseAreaCtrl">


  <div>
    <div ng-if="!gen"><input type="text" enter-close ng-model="page.result.response" ng-change="storeResponse()" autofocus="true"></div>
    <div ng-if="gen" ng-init="generate()">
        <p>Generated ID: <b>{{page.result.response}}</b></p>

        <br><br>
        
        <!-- button to regenerate -->
        <span class="multi-choice-container">
            <button type="button" class="btn btn-default btn-block" ng-click="generate()">Regenerate</button>
        </span>

    </div>
  </div>

</div>
