<div ng-controller="CheckboxResponseAreaCtrl">
  <span class="multi-choice-container">
  <div class="row" ng-repeat="choice in choices">
    <div ng-controller="CheckboxChoiceController" ng-style="{{spacing}}">
      <button type="button"
      ng-style="{'font-size':choice.fontSize,'background':(choice.backgroundColor)||(choice.disable&&'#cccccc'),'color':(choice.textColor)||(choice.disable&&'#666666')}"
      ng-class="
        {
          'btn btn-default btn-block':true,
          'btn-default active' : (!gradeResponse && !showCorrect) && checkboxChosen(choice),
          'btn-disabled' : gradeResponse || showCorrect,
          'btn-success' : (gradeResponse || showCorrect) && checkboxChosen(choice) && isCorrect(choice),
          'btn-danger' : (gradeResponse || showCorrect) && checkboxChosen(choice) && !isCorrect(choice),
          'btn-faded' : showCorrect && !isCorrect(choice) && !checkboxChosen(choice)
        }
                "
      ng-bind="label" ng-click="choose()" name="{{label}}">
      </button>
    </div>
  </div>
  <div class="row" ng-if="enableOtherText">
    <span class="glyphicon glyphicon-arrow-right"></span>
    <input type="text" enter-close name="Other"
           ng-model="page.result.otherResponse"
           autofocus="true">
    <p style="margin-bottom: 200px"></p>
  </div>
  </span>

</div>
